.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(./img/7853471.jpg);
    height: 730px;
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url(./img/7853471.jpg);
    height:730px;
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url(./img/7853471.jpg);
    height: 730px;
}